<%- include('../templates/bootheader') -%>
<%- include('../templates/menubar', {variant:'bio'}) -%>

<!DOCTYPE html>
<html>
  <head>
    <title>Access Routing</title>
  </head>
  <body>
    <h1>About The Author</h1>
    <div class="row">
      <div class="col">
        <p>My name is Millan Shenoy.
          <br>I am a rising junior at Brandeis University, and I wanted to do something
          <br>about the largely inaccessible campus, even if just to bring awareness.
          <br>My hope with this project is to spotlight the equity concerns by showing,
          <br>quite literally, the extra steps that people with physical disabilities need to
          <br> take in order to suceed at the same level as their peers.
          <br><br>Ongoing Education:</p>
          <ul>
            <p >Majors:</p>
            <li>Computer Science Bachelor of Science</li>
            <li>Politics Bachelor of Arts</li>
          </ul>
          <ul>
            <p>Minors:</p>
            <li>South Asian Studies</li>
            <li>Philosophy (hopefully)</li>
          </ul>
          <p>Places I've lived:</p>
          <ul>
            <li>US, Seattle</li>
            <li>US, Waltham</li>
            <li>India, Hyderabad</li>
      </div>
      <div class="col">
        <img src="images/babyMillan.jpg" width="300" alt="An image of Millan in his cow suit">
        <p>One of my childhood photos!</p>
      </div>
    </div>
  </body>
</html>
