<%- include('../templates/bootheader') -%>
<%- include('../templates/menubar', {variant:'home'}) -%>

<!DOCTYPE html>
<html>
  <head>
    <title>Access Routing</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Access Routing</h1>
      <p>
        Welcome to Access Routing, a wheelchair-friendly route mapping service.
        <br>Service currently under development.
      </p>
    </div>
  </body>
</html>
