<%- include('../templates/bootheader') -%>
<%- include('../templates/menubar', {variant:'map'}) -%>

<!DOCTYPE html>
<html>
  <head>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <title>Access Routing</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Let's Find a Path</h1>
    </div>
    <div id="search-field">
      <input
    </div>
  </body>
  <script src="../searchFunctions.js"></script>
</html>
